* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 350px;
}

.selectsWrapper {
    display: flex;
    justify-content: space-between;
}

.cryptoAddressField,
.cardNumberField {
    width: 100%;
}
